<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="MaDonVi" value="86136" />
    <add key="ApiLuuThongTinBatSo" value="https://apibatso.vnptvinhlong.vn/api/GoiSoBatSo/LuuThongTinBatSo" />
    <add key="CheckBHYT_Username" value="86136_BV" />
    <add key="CheckBHYT_Password" value="461b1f73e32805b832599d12645ff652" />
    <add key="LogoSize" value="200" />
    <add key="LogoMarginTop" value="40" />
    <add key="LogoMarginLeft" value="30" />
    <add key="TenBenhVienSize" value="52" />
    <add key="TenHeThongSize" value="46" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>